.DS_Store
.idea/
.metadata
*.iml
*.class
*.jar
.DS_Store
proto/gen-*
logs
**/target/*
target

#eclipse and myeclipse
.settings
.classpath
.project
.myeclipse
.mymetadata

## File-based project format
*.ipr
*.iml
*.iws
*/src/main/resources/dubbo.properties
*/src/main/resources/home_config/*
**/caches/*.cache*

